{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <div class="outer">
    <div class="inner inner-login">
      <div class="form">
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
              <div class="form-title">
                  <img class="form-image" src="{% static 'images/logo.png' %}">
                  <h2>
                      LOGIN
                  </h2>
              </div>
                {% if form.errors %}
                        <div class="alert alert-danger" style="max-width: 250px;" role="alert">
                            {{ form.username.errors }}
                            {{ form.password.errors }}
                            {{ form.non_field_errors }}
                        </div>
			    {% endif %}
              <div class="form-begin">
                  <div class="form-group">
                      <input type="text" name="username" id="id_username" class="form-control" placeholder="Insira seu CPF" />
                  </div>
                  <br/>
                  <div class="form-group">
                      <input type="password" name="password" id="id_password" class="form-control" placeholder="Insira sua senha" />
                  </div>                
                  <p class="forgot-password text-right">
                      <a href="#">esqueci minha senha</a>
                  </p>
              </div>
              <div class="form-btn">
                  <button type="submit" class="btn btn-dark btn-lg btn-block">Entrar</button>
              </div>
          </form>
          <p class="register-text text-center">
              Ainda não é cliente? <a href="{% url 'user_choice' %}">Registre-se</a>
          </p>
      </div>
    </div>
  </div>
{% endblock content %}