{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="inner inner-register">
	<div class="form">
		<form method="post" action="{% url 'update_account' %}">
			{% csrf_token %}
			<div class="form-title">
					<img src="{% static 'images/logo.png' %}" class="form-image me-3" />
					<h2 class="pt-4">
						Atualize sua conta
					</h2>
			</div>

			<div class="form-begin-register">
					{% if errors %}
					<div class="alert alert-danger" role="alert"></div>
						{{ errors }}
					</div>
					{% endif %}
				
				<div class="form-group">	
					<input class="form-control"	type="text" value={{user.complete_name}} name="complete_name" maxlength="30" required id="id_complete_name" placeholder="Nome Completo">
				</div>
				<br/>
				<div class="form-group">
					<input class="form-control" type="text" value={{user.cpf}} name="cpf" maxlength="30" autofocus required id="id_cpf" placeholder="CPF">
				</div>
				<br/>
				<div class="form-group">
					<input class="form-control" type="email" value={{user.email}} name="email" maxlength="255" required id="id_email" placeholder="E-mail">
				</div>
				<br/>                    
				<div class="form-group">
					<input class="form-control" type="text" value={{user.birthday_date}} pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name="birthday_date" placeholder="Data de Nascimento">
					<br/>
					<input class="form-control" type="text" value={{user.cellphone}} name="cellphone" maxlength="30" required id="id_cellphone" placeholder="Telefone">
				</div>
                <br/>
				<div class="form-group">
					<input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Senha">
				</div>
				<br/>
				<div class="form-group">
					<input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Confirme a senha">
				</div>
				<br/>
			</div>

			<div class="form-btn-register">
				<button type="submit" class="btn btn-dark btn-lg btn-block">Edite sua conta</button>
			</div>

		</form>
	</div>
</div>
{% endblock content %}