.App {
  text-align: center;
}
.App-background{
  background-color: #cffcd0;
}
.App-logo{
  opacity: 1;
}
.App-header {
  opacity: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
